body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2 {
    background-color: #176B87;
    padding: 8px;
    color: white;
    text-align: center;
}

.container{
    /* margin-left: 40%; */
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
.container input{
    width: 300px;
    height: 15px;
    border: 2px solid rgba(154, 154, 154, 0.857);
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    margin-left: 10%;
    display: inline-block;
    border-radius: 5px;
}
.add-btn{
    background-color: black;
    color: white;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer; 
}
.add-btn:active {
    background-color: rgba(57, 56, 56, 0.939);
    transform: scale(0.95);
}

.dlt-btn {
    background-color: #BF3131;
    color: white;
    padding: 5px 7px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 200px;
    cursor: pointer;
    /* transition: 2s; */
}

.edit-btn {
    background-color: #11009E;
    color: white;
    padding: 5px 7px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
  
}



.dlt-btn:active {
    background-color: #9e2929;
    transform: scale(0.95);
}
.edit-btn:active {
    background-color: #4942E4;
    transform: scale(0.95);
}
 



/* .dlt-btn:hover{
        background-color: #299e77;
        }

